 // IMG BASE
 .hero-img0 {
    
    .img-wrapper{
      position: relative;
      width: 100%;
      img {
        position: absolute;
      }
      // main img
      .img0 {
        width: 80%;
        position: relative;
        left: 40%;
        transform: translateX(-40%);
      }
      // foglia rossa sx
      .img1 {
        z-index: 6;
        bottom: 56%;
        left: -5%;
        width: 8%;
        opacity: 1;
      }
      // foglia rossa dx
      .img2 {
        z-index: 6;
        bottom: 56%;
        right: -1%;
        width: 7%;
        opacity: 1;
      }
      //pianta verde sx
      .img3 {
        z-index: 6;
        bottom: 9%;
        left: -11%;
        width: 19%;
        opacity: 1;
      }
      // nuvola marrone
      .img4 {
        z-index: 6;
        bottom: 80%;
        right: -5%;
        width: 15%;
        opacity: 1;
      }
      //nuvola verde
      .img5 {
        z-index: 5;
        bottom: 80%;
        right: -14%;
        width: 18%;
        opacity: 1;
      }
      //piantina scura sx
      .img6 {
        z-index: 6;
        bottom: 10%;
        left: 9%;
        width: 7%;
        opacity: 1;
      }
      // piantina verde dx
      .img7 {
        z-index: 6;
        bottom: 9%;
        right: 9%;
        width: 8%;
        opacity: 1;
      }
      // foglia verde grande dx
      .img8 {
        z-index: 6;
        bottom: 9%;
        right: -9%;
        width: 14%;
        opacity: 1;
      }
      // fogliolina marrone dx
      .img9 {
        z-index: 6;
        bottom: 9%;
        right: -16%;
        width: 7%;
        opacity: 1;
      }

    }
  }