.hero-img1{
    .img-wrapper{
        position: relative;
        width: 100%;
        img {
          position: absolute;
        }
        // main img
        .img0 {
            width: 110%;
            position: relative;
            left: 40%;
            transform: translateX(-40%);
          }
        // foglia rossa sx
        .img1{
            z-index: 99;
            bottom: 62%;
            left: -5%;
            width: 8%;
            opacity: 1;
        }
        //   foglia rossa dx
        .img2{
            z-index: 99;
            bottom: 91%;
            right: 4%;
            width: 7%;
            opacity: 1;
        }
        //foglia marrone sx
        .img3{
            z-index: 99;
            bottom: 20%;
            left: -13%;
            width: 7%;
            opacity: 1;
        }
        //piantina verde sx
        .img4{
            z-index: 99;
            bottom: 2%;
            left: 0%;
            width: 8%;
            opacity: 1;
        }
        //piantina scura dx
        .img5{
            z-index: 99;
            bottom: 3%;
            right: 4%;
            width: 9%;
            opacity: 1;
        }

    }
}