.hero-img2{
    .img-wrapper{
        position: relative;
        width: 100%;
        img {
          position: absolute;
        }
        // main img
        .img0 {
            width: 56%;
            position: relative;
            left: 6%;
            transform: translateX(-6%);
          }
        // main img 2
        .img1{
            position: absolute;
            width: 52%;
            left: 110%;
            transform: translateX(-110%);
        }
        //foglia rossa sx
        .img2{
            z-index: 99;
            bottom: 100%;
            left: 0%;
            width: 8%;
            opacity: 1;
        }
        //foglia rossa dx
        .img3{
            z-index: 99;
            bottom: 80%;
            right: -6%;
            width: 7%;
            opacity: 1;
        }
        //foglia marrone sx
        .img4{
            z-index: 99;
            bottom: 41%;
            left: -9%;
            width: 7%;
            opacity: 1;
        }
        //piantina verde sx
        .img5{
            z-index: 99;
            bottom: 5%;
            left: 0%;
            width: 8%;
            opacity: 1;
        }
        //pianmtina scura dx
        .img6{
            z-index: 99;
            bottom: 98%;
            right: 2%;
            width: 9%;
            opacity: 1;
        }
        //foclie multiple dx
        .img7{
            z-index: 99;
            bottom: 5%;
            right: -20%;
            width: 13%;
            opacity: 1;
        }

    }
}